
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tabela{
  margin: 20px 20px;
  word-break:normal;
  max-height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}
.cabecalho{
  position: sticky;
  top: 0;
  z-index: 2;
  color:#fff;
  background: #0d6efd;
  box-shadow: 0 1px 0 0 #2b04bb, 0 -5px 0 0 #fff;
}

.corpotabela{
  align-items:center;
}



.tg  {
  border-collapse:collapse;
  border-spacing:0;
}
.tg td {
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:20px 25px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
}
.tg th
{
  font-family:Arial, sans-serif;
  font-weight:normal;
  padding:20px 25px;
  border-style:solid;
  border-width:0px;
  word-break:normal;
}
