<form [formGroup]="dpto">
<div *ngIf="departamento">
  <h2>Alterar/Excluir Departamento</h2>

  <div>
    Nome:
    <input formControlName="departamentoInput" [(ngModel)]="departamento.nome" placeholder="Nome do Departamento" (change)="validanomedpto(departamento.nome)">
  </div>
  <div class="botoes">
    <button class="btn btn-primary newUser" (click)="UpdateDepartamento(departamento)" *ngIf="departamento.id">Atualizar</button>
    <button class="btn btn-primary newUser" (click)="DeleteDepartamento(departamento)" *ngIf="departamento.id">Excluir</button>
    <button name="cadastrar" class="btn btn-primary newUser" (click)="CreateDepartamento(departamento)" [disabled]="!dpto.valid" *ngIf="!departamento.id">Cadatastrar</button>
 </div>
</div>
</form>

