<form [formGroup]="dadosferias">
<div *ngIf="ferias">
  <h2>Alterar/Excluir Férias</h2>
  <div>
  <div>
    Nome Funcionario:
    <select formControlName="funcionario" [(ngModel)]="ferias.funcionario"  >
      <option *ngFor="let funcionario of arraydefuncionario"   > {{funcionario.nome}}</option>
    </select>
  </div>
  <div>
     Data de Inicio
    <input type="date" formControlName="data" [(ngModel)]="ferias.dataInicio" (blur)="validadata(ferias.dataInicio)"/>
  </div>

  <div>
    Quantidade de dias:
    <input type="text" formControlName="diasdegozo" [(ngModel)]="ferias.quantidadededias" (blur)="validaqtddias(ferias.quantidadededias)" placeholder="##"/>
  </div>
  </div>
  <button class="btn btn-primary newUser" (click)="deleteFerias(ferias)" *ngIf="ferias.id" >Excluir</button>
  <button class="btn btn-primary newUser" (click)="createFerias(ferias)" [disabled]="!dadosferias.valid" *ngIf="!ferias.id"  >Cadatastrar</button>
</div>
</form>


