<form [formGroup]="dados">
<div *ngIf="funcionario">

  <h2>Alterar/Excluir Funcionario</h2>
  <div>
    Matricula:
    <input  [(ngModel)]="funcionario.matricula"  formControlName="matricula" placeholder="c######" (blur)="verificamatricula(funcionario.matricula)"/>
  </div>
  <div>
    Nome:
    <input  [(ngModel)]="funcionario.nome"  formControlName="nome" placeholder="Nome"/>
  </div>
  <div>Departamento:
    <select formControlName="departamento" [(ngModel)]="funcionario.departamento">
      <option *ngFor="let departamento of arraydedepartamentos">{{departamento.nome}}</option>
    </select>
  </div>
  <button class="btn btn-primary newUser"  (click)="updateFuncionario(funcionario)" [disabled]="!dados.valid"  *ngIf="funcionario.id">Atualizar</button>
  <button class="btn btn-primary newUser" (click)="deleteFuncionario(funcionario)" [disabled]="!dados.valid" *ngIf="funcionario.id">Excluir</button>
  <button class="btn btn-primary newUser" (click)="createFuncionario(funcionario)" [disabled]="!dados.valid" *ngIf="!funcionario.id">Cadatastrar</button>
</div>
</form>
