form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
  }
  form .inputField{
    flex-basis: 68%;
    border-left: 5px groove blue;
    padding-left: 20px;
    justify-content: space-between;
  }

  form .inputField > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  form .inputField > div label{
    font-size: 12px;
    font-weight: 500;
  }


  form .inputField > div input{
    width: 75%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid blue;
  }
  .botoes{
    display: flex;
    align-items: left;
    padding: 20px;

  }
